a.nav_link:hover {
  cursor: pointer;
  color: #d4a373;
}

.nav_link {
  text-decoration: none;
  color: #bb7a39;
}

.menu_link {
  text-decoration: none;
  color: #bb7a39;
  font-size: 40px;
  margin-left: 48px;
  text-align: left;
}

a.menu_link:hover {
  cursor: pointer;
  color: #d4a373;
}
